$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.row {
  margin: 0;
}

.section {
  width: 80%;
  margin: 80px auto;
  @media only screen and (max-width: 700px)  {
    width: 90%;
    margin: 50px auto;
  }
}

.shadow {
  border-bottom: 1px solid #d1d1d1;
  box-shadow: 0 0 .5em .14em rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 0 .5em .14em rgba(0,0,0,0.1);
  -moz-box-shadow: 0 0 .5em .14em rgba(0,0,0,0.1);
}

.heading {
  padding: 5px;
  text-transform: uppercase;
  text-align: center;
  h2 {
    margin: 20px 0;
    font-weight: 700;
    @media only screen and (max-width: 550px)  {
      font-size: 20px;
    }
  }
}

#team-landing {
  height: 450px;
  width: 100%;
  color: #fff;
  text-align: center;
  background: 
    linear-gradient(
      rgba(49,57,69,0.5), 
      rgba(49,57,69,0.5)
    ),
    url("../images/yc-team.png") no-repeat center;
  background-size: cover;
  opacity: 0.85;
  padding-top: 100px;
  @media only screen and (max-width: 550px), screen and (max-height: 550px)  {
    height: 300px;
  }
  h2 {
    font-weight: 300;
    font-size: 40px;
    line-height: 55px;
    @media only screen and (max-width: 550px)  {
      font-size: 28px;
      font-size: 7vw;
      line-height: 10vw;
    }
  }
}

#about-seed {
  .heading {
    background: #2bacb5;
    color: #fff;
  }
  .content {
    background: white;
    width: 100%;
    height: 100%;
    padding: 40px 60px;
    font-size: 20px;
    @media only screen and (max-width: 550px)  {
      font-size: 15px;
      padding: 20px 30px;
    }
    p {
      line-height: 30px;
      font-weight: 300;
      margin: 20px 0;
      color: #888;
    }
  }
}

#team-members {
  border: 1px solid black;
  background: #313945;
  color: #fff;
  .heading {
    padding: 30px 60px;
    width: 80%;
    border-bottom: 1px solid #F1EDEA;
    margin: auto;
  }
  .team-members-container {
    margin: 30px 0;
    .member-container {
      text-align: center;
      padding: 20px;
      img {
        width: 80%;
        max-width: 250px;
        filter: grayscale(100%) saturate(30%);
        -webkit-filter: grayscale(100%) saturate(30%);
        -moz-filter: grayscale(100%) saturate(30%);
        -o-filter: grayscale(100%) saturate(30%);
        -ms-filter: grayscale(100%) saturate(30%);
      }
      .bio {
        letter-spacing: 1px;
        color: #F1EDEA;
        .name {
          text-transform: uppercase;
          font-weight: 700;
          font-size: 18px;
          color: #fff;
        }
        .title {
          font-style: italic;
          font-weight: 300;
          font-size: 16px;
        }
        .social {
          .fa {
            font-size: 20px;
            margin: 5px;
          }
          a:hover {
            cursor: pointer;
            cursor: hand;
          }
        }
        .summary {
          margin-top: 10px;
          font-size: 14px;
          line-height: 22px;
          text-align: justify;
          font-weight: 300;
        }
      }
    }
  }
}

#join {
  text-align: center;
  .button {
    color: #fff;
    font-size: 20px;
    border: 3px solid #2bacb5;
    background: #2bacb5;
    padding: 15px 35px;
    &:hover {
      color: #2bacb5;
      background: transparent;
    }

  }
}

#investors {
  background: #fff;
  .heading {
    border-bottom: 1px solid #333;
    width: 90%;
    margin: auto;
    padding-top: 20px;
  }
  .logos-container {
    display: table;
    width: 100%;
    .logo {
      padding: 40px 0;
      display: table-cell;
      vertical-align: middle;
      float: none;
      text-align: center;
      img {
        width: 80%;
        max-width: 300px;
        &.mission {
          width: 60%;
        }
      }
    }
  }
}

// Bootstrap row height enhancement
.row-full-height {
  height: 100%;
}
.col-full-height {
  height: 100%;
  vertical-align: middle;
}
.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}
.col-xs-height {
  display: table-cell;
  float: none !important;
}

@media (min-width: 768px) {
  .col-sm-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 992px) {
  .col-md-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 1200px) {
  .col-lg-height {
    display: table-cell;
    float: none !important;
  }
}