<div id="team-landing">
  <h2>SEED is a business banking<br>
    solution for the modern era
  </h2>
</div>
<div class="section shadow" id="about-seed">
  <div class="heading">
    <h2>About SEED</h2>
  </div>
  <div class="content">
    <p>SEED is a new kind of business banking service that employs cutting-edge technology and a community bank service model to give founders the tools they need to manage their businesses like pros. SEED offers up to $50 million of FDIC insurance, instead of the $250,000 offered by traditional banks, as well as free domestic wire transfers, free ACH transactions, free check sending, and low cost international payments.</p>
    <p>Unlike traditional banks, SEED is designed to scale with any business. Its mobile-first, API-driven design means that businesses can tailor SEED to fit their needs and their business workflow in the office and on the go.</p>
  </div>
</div>

<div class="section-alt" id="team-members">
  <div class="heading">
    <h2>Our Team</h2>
  </div>
  <div class="team-members-container">
    <div class="row"><div class="col-md-10 col-md-offset-1"> <!-- outer row to offset -->
      <div class="row">
        <div class="row-same-height">
          <div ng-repeat="member in teamMembers" class="member-container col-sm-6 col-sm-height col-md-4 col-md-height ">
            <img src="{{member.imgUrl }}" class="profile-img">
            <div class="bio">
              <h3 class="name">{{ member.name }}</h3>
              <h4 class="title">{{ member.title }}</h4>
              <div class="social">
                <a ng-show="member.twitter.length > 0" ng-href="https://twitter.com/{{ member.twitter }}" class="fa fa-twitter" target="_blank"></a>
                <a ng-show="member.linkedin.length > 0"href="https://www.linkedin.com/in/{{ member.linkedin }}" class="fa fa-linkedin-square" target="_blank"></a>
              </div>
              <div class="summary">
                {{ member.summary }}
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div></div> <!-- outer row to offset -->
  </div>
</div>

<div class="section" id="join">
  <button type="">Join Our Team</button>
</div>

<div class="section shadow" id="investors">
  <div class="heading">
    <h2>Investors</h2>
  </div>
  <div class="logos-container row">
    <div class="logo col-md-6">
      <img src="https://news.ycombinator.com/yc500.gif"> 
    </div>
    <div class="logo col-md-6">
      <img src="http://i.imgur.com/eoK2v5N.png" class="mission">
    </div>
  </div>
</div>
